# Server Configuration
PORT=3000
NODE_ENV=development

# Add your environment variables here
DATABASE_URL=postgres://postgres:postgres@localhost:5432/task_management_application

# openssl rand -base64 256 # Used to sign the JWT
JWT_SECRET=7PD5bzz+a6ZX5OiFLmuB2IAA2GceWGTq3Ni5B6KSV2iHvQZ+ErFirhq8f7DBmwacSMrky0FW7MTcLDXxltrsgAdVc8sDjatLHUnA20EfxorR6Z9KwXBBCwuKa183xjkFJ7T9qhDpFvuoauQbdRTP+bPbB/iozdUY+Cn8sGy9sU3+Q6DXMD4hp4S5qL9fiz1WzsnL8je6XHFplNjgGaC4J9qPXA5wkMfR0SPUgc+njNHRa78EVMLERFEqq4DKPjN8l1suXzh+qKdL4UfpgZEpR4anNejFwQGvJfw7zZyaNcvW2HnvqSP/oHmVwCQpIykEUR4oPiWWT5Oyq+c1OtEDOQ==

# JWT_EXPIRATION=7d
JWT_EXPIRATION=1h



